.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-wrap: break-word;
}
.code-text {
  font-family: "Courier New", Courier, monospace;
}
.o-list {
  margin: 20px;
  padding: 4px;
  padding-left: 20px;
}
.header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.terminate-header{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
}

.top-bottom-margins {
  margin-top: 20px;
  margin-bottom: 20px;
}
.top-bottom-margins-lg {
  margin-top: 30px;
  margin-bottom: 30px;
}

.score {
  font-size: 1em;
  font-weight: bold;
}

/*  RANGE SLIDER */
.range-wrap {
  position: relative;
  /* margin: 0 auto 3rem; */
}
.range {
  cursor: pointer;
  width: 100%;
}
.bubble {
  background: #319795;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #319795;
  top: -1px;
  left: 50%;
}
.span-btn {
  color: #319795;
  font-weight: 600;
  cursor: pointer;
}
.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  padding: 0.75rem;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: #003366;
  border-radius: 0.25rem;
}
.checkbox-label{
  font-size: 20px;
  margin-left: 10px;
  color:#003366;
}
.checkbox-input {

}
.statement-viewer-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  font-size: 1.2rem;
}
.checklist-checkbox-container{
  display: flex;
  align-items: center;
}
.checklist {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 1.25rem;
  padding: 0.75rem;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: #003366;
  border-radius: 0.25rem;
}

.uploaded-input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 2.5rem;
  margin-top: 10px;
  margin-bottom: 30px;
  border-color: #003366;
  border-radius: 0.25rem;
  border-width: 2px;
  padding:10px
}
/* input[type="file"]{
  max-width: 500px;
} */
input[type="checkbox"]{
  width: 20px;
  height: 20px;
}

.form-group > * {
  width: 100%;
}
input[type="search"] {
  width: 100%;
  padding: 6px 6px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  border: 2px solid #003366;
  border-radius: 4px;
}
input[type="search"]:focus {
  outline: none !important;
  border: 2px solid #003366;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #a1a1a1;
  border-radius: 4px;
  margin-top: 20px;
  
}
.search-result h4 {
  font-size: 1.4rem !important;
}
.result-links{
  color: blue !important;
}
.result-links:hover{
  color: purple !important;
}
.result-links:visited{
  color: purple !important;
}
.like-disliked-container {
  display: flex;
  justify-content: flex-end;
}
.like-disliked-icons {
  margin-right: 20px;
  margin-bottom: 10px;
  color: #003366;
  cursor: pointer;
}

.like-disliked-icons:hover{
  color: #b2c1fe;
}

/* queries */
h1 {
  font-size: 3.9vw !important;
}
h2 {
  font-size: 3vh !important;
}
p {
  font-size: 2vmin;
}
.pre{
  max-height: 90vh;
  font-size:12px;
  white-space: pre-wrap;
  overflow-y: auto;
  display: inline-block;
  min-width: 100%;
  overflow-wrap: break-word;
  margin-right: 10px;
  margin-bottom: 20px;
}

#drawer-body-content{
  padding-left: 12px !important;
  padding-right: 2px !important;
  margin-bottom: 20px;
}
#small-next-button{
  display: none;
}
/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  p {
    font-size: 3.6vmin;
  }
  input[type="file"]{
    max-width: 200px;
  }
  .pre{
    font-size: 10px;
  }
  #page-counter{
    display: none !important;
  }
  #large-next-button{
    display: none;
  }
  #small-next-button{
    display: block;
  }
  #nav-container{
    bottom: 1%;
    right: 1%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.7rem !important;
  }
  p {
    font-size: 2.1vmin;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.4rem !important;
  }
  p {
    font-size: 1.2rem;
  }
  input[type="file"]{
    min-width: 500px;
  }
  .terminate-header{
    font-size:2.3rem !important;
  }
}

@media (prefers-color-scheme: dark) {
  input[type=search] {
    color: black;
  }
  .checkbox-label {
    color: white;
  }
} 

